@charset "UTF-8";
@font-face {
  font-family: "Quicksand-Medium";
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSansCyrillic.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  font-stretch: 100%;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSansLatin.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  font-stretch: 100%;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Kobzar KS";
  src: url("../fonts/kobzarks.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, ol, ul, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

img, picture, svg, video {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1e2a2a;
}

.nb-container {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

.accent-btn {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #bc5f04;
  border-radius: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#82551c), color-stop(50%, #e6b932), color-stop(75%, #fff59a), color-stop(87.5%, #835b21), color-stop(93.75%, #835b21), to(#835c21));
  background: linear-gradient(90deg, #82551c 0%, #e6b932 50%, #fff59a 75%, #835b21 87.5%, #835b21 93.75%, #835c21 100%);
  padding: 10px 30px;
  font-size: 16px;
  color: #5b2333;
}

/* header */
.header .nb-container {
  position: relative;
}

.logo-bg {
  position: absolute;
  top: 0;
  left: -24px;
  z-index: -1;
}

.header-main {
  background-image: url(../img/header-main.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 500px;
}
.header-main .nb-container {
  position: relative;
  height: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-main .nb-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #404fac;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: -1;
}
.header-main h1 {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #ebe4d4;
  margin-top: 34px;
}
.header-main h2 {
  font-family: "Kobzar KS";
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #ebe4d4;
  margin-top: 10px;
}
.header-main h3 {
  font-size: 14px;
  margin: 0 auto;
  margin-top: auto; /* ← толкает элемент вниз */
  margin-bottom: 50px;
  color: #ebe4d4;
  font-weight: 400;
  width: 600px;
}

.top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  color: #ebe4d4;
}
.top-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-contacts__item svg {
  margin-right: 10px;
}
.top-contacts__item--tel a + a {
  margin-left: 10px;
}
.top-contacts__link {
  color: #ebe4d4;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-wrap .logo {
  width: 86px;
  height: 86px;
  margin-right: 60px;
}
.menu-wrap .accent-btn {
  margin-left: auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item + .menu__item {
  margin-left: 40px;
}
.menu__link {
  color: #ebe4d4;
}

/* welcome */
.welcome {
  padding: 60px 0;
  background: #fbf9ef;
  position: relative;
}
.welcome__text {
  width: 635px;
}
.welcome h2 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 14px;
}
.welcome__text {
  font-size: 20px;
  z-index: 1;
}
.welcome__text p + p {
  margin-top: 28px;
}
.welcome .nb-container {
  position: relative;
}
.welcome__img {
  position: absolute;
  z-index: 1;
  right: 35px;
  bottom: -60px;
}
.welcome__img img {
  width: 450px;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.welcome__out-right {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  width: 43%;
  background-color: #ebe4d4;
  z-index: 0;
}

/* footer */
.footer {
  height: 480px;
  background-color: #e3d9c4;
}

@media (max-width: 1400px) {
  .nb-container {
    max-width: 1116px;
  }
}
@media (max-width: 1200px) {
  .nb-container {
    max-width: 936px;
  }
}
@media (max-width: 992px) {
  .nb-container {
    max-width: 696px;
  }
}
@media (max-width: 768px) {
  .nb-container {
    max-width: 516px;
  }
}
@media (max-width: 540px) {
  /* переопределил стандартный брейкпоинт 576px
      чтобы не было скачка - сужения контейнера */
  .nb-container {
    /* padding, когда у .container нет max-width
    а есть только width: 100%; */
    padding: 0 12px;
    max-width: 100%;
  }
}
/* Брейкпоинты и max-width у .container (как в ориг. Bootstrap 5) 
@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1400px) { .container { max-width: 1320px; } } */