@import '_vars.scss';
@import '_fonts.scss';
@import '_reset.scss';
@import '_global.scss';

/* header */

.header {
    .nb-container {
        position: relative;
    }
}

.logo-bg {
    position: absolute;
    top: 0;
    left: -24px;
    z-index: -1;
}

.header-main {
    background-image: url(../img/header-main.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 500px;
    .nb-container {
        position: relative;
        height: 100%;
        z-index: 0;
        display: flex;
        flex-direction: column;
    }
    .nb-container::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #404fac;
        opacity: 0.6;
        top: 0;
        left: 0;
        z-index: -1;
    }
    h1 {
        font-weight: 700;
        font-size: 64px;
        text-align: center;
        color: $white-color;
        margin-top: 34px;
    }
    h2 {
        font-family: 'Kobzar KS';
        font-weight: 400;
        font-size: 50px;
        text-align: center;
        color: $white-color;
        margin-top: 10px;
    }
    h3 {
        font-size: 14px;
        margin: 0 auto;
        margin-top: auto;     /* ← толкает элемент вниз */
        margin-bottom: 50px;
        color: $white-color;
        font-weight: 400;
        width: 600px;
        // position: absolute;
        // bottom: 50px;
        // left: 50%;
        // transform: translateX(-50%);
    }
}

.top-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: $white-color;
    &__item {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
    &__item--tel {
        a + a {
            margin-left: 10px;
        }
    }
    &__link {
       color: $white-color;
    }
}

.menu-wrap {
    display: flex;
    align-items: center;
    .logo {
        width: 86px;
        height: 86px;
        margin-right: 60px;
    }
    .accent-btn {
        margin-left: auto;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item + .menu__item {
        margin-left: 40px;
    }
    &__link {
        color: $white-color;
    }
}

/* welcome */

.welcome {
    padding: 60px 0;
    background: #fbf9ef;
    position: relative;
    &__text {
        width: 635px;
    }
    h2 {
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 14px;
    }
    &__text {
        font-size: 20px;
        z-index: 1;
        p + p {
            margin-top: 28px;
        }
    }
    .nb-container {
        position: relative;
    }
    &__img {
        position: absolute;
        z-index: 1;
        right: 35px;
        bottom: -60px;
        img {
            width: 450px;
            height: 570px;
            object-fit: cover;
        }  
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: red;
        //     width: 50px;
        //     height: 50px;
        // }
    }
    &__out-right {
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 60px;
        width: 43%;
        background-color: #ebe4d4;
        z-index: 0;
    }
}


/* footer */

.footer {
    height: 480px;
    background-color: #e3d9c4;
}

@import '_media.scss'
